<div class='page-template'>

    <div class='article-show'>
        <h1><%=@article.title%></h1>
        <h2><a href="<%=edit_article_path%>">Edit</a></h2>
        <%=@article.body%>
    </div>

    <div class='comments'>
      <h3>Comments</h3>
      <div class='form'>
          <%=form_for @comment, :url => article_comments_path(@article), :remote => true do |form|%>
            <div class='field'>
                <%=form.text_area :message, :cols => 40, :rows => 4 %>
            </div>
            <%=form.submit "Save", :class => 'submit-button'%>
          <% end %>
      </div>
      <% cache("article_#{ @article.id }_comments") do%>
      <div id='article_comments' style='background-color:salmon;'>
        <%=render :partial => 'comment', :collection => @article.comments%>
      </div>
      <% end %>
    </div>

</div>

<script type="text/javascript">
  var comment_form = new AjaxErrorRepresenter('comment', { form_id:'new_comment', update_container: 'article_comments' });
</script>