<!DOCTYPE html>
<html>
<head>
  <title>TestingApp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%=javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'%>
  <%= csrf_meta_tags %>
  
  <!-- Place this tag in your head or just before your close body tag -->

</head>
<body>

<%= yield %>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {parsetags: 'explicit'}
</script>


</body>
</html>
